#inventory-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 128px;
    background-color: #0ff;
}

#game-view {
    position: absolute;
    bottom: 128px;
    left: 0;
    right: 0;
    top: 0;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #000;
}